# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
/obj/Debug/Assembly-CSharp.dll
/obj/Debug/Assembly-CSharp.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/UnityVS.JV-Equipe3.CSharp.csproj.FileListAbsolute.txt
/obj/Debug/UnityVS.JV-Equipe3.CSharp.csprojResolveAssemblyReference.cache
